

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    
    border-bottom: 5px solid #4eb060;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
 
::selection{
color:#ffffff;
background-color:#1d3722;}
 
/* Navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
    margin-left: 90px;
}
.menu{
    display: flex;
	align-items:left;
    
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
    color: white;
	
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}
.logo span{
    color: #41ca5a;
}
.right-nav{
    display: flex;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.right-nav a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.right-nav .like{
    background-color: #fff0ee;
    color: #ff6c57;
}
.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;
}
.right-nav .user-profile{
    background-color: #ecf7ee;
    color: rgb(139, 195, 221);
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}
.right-nav .like span{
    background-color: #ff6c57;
}
.right-nav .cart span{
    background-color: #679c70;
}
.right-nav .user-profile span{
    background-color: rgb(95, 183, 224);
}
.menu li a:hover,
.menu .active{
    color: #40aa54;
    transition: all ease 0.3s;
    font-weight: bolder;
}

/* Search-Banner */
#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #ffffff;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(https://t3.ftcdn.net/jpg/02/91/49/54/360_F_291495407_FjLd19KalzpWBuXYD9HhenjhhMYVcyfh.jpg);
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: center;
    padding:0px;
    display: flex;
    align-items: center;
    
}
.bg-1{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 500px;
    object-fit: contain;
    object-position: center;
    opacity: 0.7;
}
.bg-1_rev{
    position: absolute;
    right: -60px;
    top: 150px;
    width: 300px;
    height: 500px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    object-fit: contain;
    object-position: center;
    opacity: 0.7;
}
.bg-2{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}
.search-banner-text{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    margin-left: 70px;
    position: relative;
}
.search-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color:#c9c9c9;
}
.search-banner-text h1 span
{
    color: #0dc839;
      
}

.search-banner-text strong{
    color:rgb(214, 154, 13);
    font-size: 1.4rem;
    margin-top: 4px;
    font-weight: bolder;
}

.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
    border-color: #0dc839;
    border-width: 1.5px;
    border-style: solid;
}
.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}
.search-box .search-btn{
    width:220px;
    height: 40px;
    border-radius: 30px;
    background-color: #27a63e;
    border: none;
    color: #fbfbfb;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.search-box .search-btn:hover{
    background-color: #2bd24a;
    transition: all ease 0.3s;
}


/* category */
#category,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading,
.partner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.partner-heading h3{
    font-size: 1.76rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.fa-search {
    cursor: pointer;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c3e2bf;
    border-radius: 30px;
    min-height: 250px;
    width: 190px;
    border: 5px solid rgba(0,0,0,0.03);
    cursor: pointer;
}
.category-box img{
    height: 150px;
    width: 150px;
    object-fit:cover;
    object-position: center;
    border-radius: 50%;
   
}
.category-box span{
    color: #241f1f;
    font-size: 0.8rem;
    margin-top: 10px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
  


/* partner-logo */
#partner{
    margin: 100px auto;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.logo-container img{
    height: 55px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
    transition: all ease 0.3s;
}
.logo-container img:hover{
    filter: grayscale(0);
    opacity: 1;
    transition: all ease 0.3s;
}
/* Download-app */
#download-app{
    max-width:1150px;
    width: 100%;
    background-color: #ecf7ee;
    height: 400px;
    margin: 225px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-img{
    width:275px;
    height: 550px;
    background-color: #ffffff;
    border: 4px solid #393939;
    border-radius: 20px;
    overflow: hidden;
}
.app-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.download-app-text{
    max-width:400px;
}
.download-app-text strong{
    color: #393939;
    font-size: 1.56rem;
}
.download-app-text p{
    color: #3b3b3b;
    margin: 15px 0px;
}
.download-btns{
    display: flex;
}
.download-btns a{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.download-btns a img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* footer */
footer{
    background-color:dimgray;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-logo a span{
    color: #4eb060;
}
.footer-social{
    display: flex;
    margin-top: 10px;
}
.footer-social a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff15;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
}
.footer-social a:hover{
    background-color: #4eb060;
    transition: all ease 0.3s;
}
.footer-links strong{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-links ul{
    margin-top: 10px;
}
.footer-links ul li a{
    color: #ffffff;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}
.menu-icon,
.menu-btn{
    display: none;
}
.right-nav .icons div {
  border: 2px solid;
  height: 2.5rem;
  width: 2.6rem;
  line-height: 2.4rem;
  border-radius: .5rem;
  background: #ffffff;
  color: var(--black);
  font-size: 2rem;
  margin-right: .3rem;
  text-align: center;
  cursor: pointer;
}
.right-nav .icons div:hover {
  background: var(--green);
  color: rgb(255, 255, 255);
}
:root {
  --green: rgb(111, 233, 117);
}

.login-btn {
    background-color: #d1d1d1;
    border: none;
    color: rgb(18, 7, 7);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
   
   
  }
  
  .login-btn:hover {
    background-color:#45a049;
    color: #fff9f9;
  }
  .login-btnn {
    background-color:#45a049;
    color: #fff9f9;
  }

  /* css code for customer's review */
 
 .customer
 {
     background-color:#e6eee5;
     border-radius: 40px;
     box-shadow: 0 10px 10px rgba(11, 11, 11, 0.1);
     overflow: hidden;
     transition: transform 0.2s ease-in-out;
     text-align:center;
     display:flex ;
     margin: 30px;
 }
 
 
 
 .review img
 {
     margin-right: 100px;
     border-radius: 80px;
     width:200px;
     height: 200px;
     object-fit: cover;
 }
 
 .review h2{
     color: #8f8fe5;
     font-size: 20px;
     margin-right: 10px;
     margin-top: 30px;
 }
 
 .review p
 {
     color: #090707;
     font-size: 16px;
     margin-bottom: 10px;
     align-items:end;
 }
  
 .stars
 { 
     color: #f5d50a;
     font-size: 20px;
     margin-left: 50px;
     margin-top: 50px;
 }
 
 .stars i
 {
     margin-right: 5px;
 }
 
 .customer:hover
 {
     transform: translateY(-10px);
     color: #305174;
 }
 .customer p span{
    color: #0c7825;
 }
 .text{
    margin-left: 100px;
    margin-top: 50px;
 }
/* css code end of customer review */
